#wrapper {
	margin-top: 20px;


}

#game {
	display: none;
	text-align: center;
}

#question {
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
	color: red;
}


#results {
	text-align: center;
	font-size: 26px;
	font-family: 'Roboto', sans-serif;
	display: none;
}


.buttons {
	font-family: 'Roboto', sans-serif;
	background: none;	
	border: none;
	font-size: 26px;
	color: black;
	outline:none;
	padding: 0px 100px 0px 100px;


}

#buttonStart {
	text-align: center;
	margin-left: 548px;
	outline:none;
	border: black 3px solid;
	font-size: 26px;

}




}
