#wrapper {
	background-image: url("../images/wallpaper.jpg");
	margin-top: 20px;
	min-width: 960px;
	max-width: 960px;

}

#start {
	text-align: center;

}
#game {
	background-color: white;
	border: black 2px solid;
	margin: 400px 100px 0px 100px;
	padding-bottom: 20px;
	display: none;
	text-align: center;
}

#question {
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
	padding-bottom: 20px;
	
}

#timer {
	padding-bottom: 10px;
	font-size: 20px;
}

#results {
	line-height: 35px;
	background-color: white;
	border: black 2px solid;
	margin: 400px 100px 0px 100px;
	text-align: center;
	font-size: 26px;
	font-family: 'Roboto', sans-serif;
	display: none;
}


.buttons {
	font-family: 'Roboto', sans-serif;
	background: none;
	width: 550px;	
	border: none;
	font-size: 26px;
	line-height: 40px;
	color: black;
	outline:none;
	padding: 0px 100px 0px 100px;


}







